---
title: "The Website Weekly Newsletter"
preheader: "👀 Lorem, ipsum, and much dolor in this week's edition."
image: https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80
bodyClass: bg-slate-50
---

<x-main>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>Eat Salad Thank You Email</title>
    <!-- Style -->
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: "Lato", sans-serif;
      }

      body {
        margin: 0;
      }

      table {
        border-spacing: 0;
        width: 100%;
      }

      td {
        padding: 0;
      }

      img {
        border: 0;
      }

      a:link,
      a:visited,
      a:active {
        color: currentColor;
      }
    </style>
  </head>
  <body>
    <center class="w-full table-fixed bg-[#b3b3b3] font-sans">
      <table
        class="w-full max-w-[650px] bg-white m-0 table text-black text-center"
      >
        <tr>
          <td>
            <table>
              <!-- Header -->
              <tr>
                <td class="p-6">
                  <table>
                    <tr class="max-xs:flex max-xs:flex-col">
                      <td class="w-1/2 max-xs:w-full">
                        <div
                          class="max-xs:flex max-xs:justify-center max-xs:pb-4"
                        >
                          <img
                            src="https://i.ibb.co/TtCGkd0/Logo.png"
                            alt="logo"
                            class="max-w-[200px]"
                          />
                        </div>
                      </td>
                      <td class="w-1/2 max-xs:w-full">
                        <div class="flex justify-end max-xs:justify-center">
                          <a
                            href=""
                            target="_blank"
                            rel="noopener noreferrer"
                            class="bg-[#D4E9F9] px-5 py-2 rounded-xl text-sm"
                            >My Account
                          </a>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- Nav Section -->
              <tr>
                <td class="bg-[#2190E3] py-5">
                  <table>
                    <tr>
                      <td>
                        <p class="text-white px-6">
                          Electronics&nbsp |&nbsp Fashion&nbsp | &nbspBooks
                          |&nbsp Home and Kitchen&nbsp |&nbsp Toys&nbsp |&nbsp
                          <span class="font-bold">SALES ★</span>
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- Hero Section Title -->
              <tr>
                <td class="py-6 bg-[#D6E7F0]">
                  <h1 class="text-4xl font-bold">
                    IT'S STILL
                    <span class="text-[#2190E3]">AVAILABLE!</span>
                  </h1>
                </td>
              </tr>

              <!-- Hero Product -->
              <tr>
                <td class="bg-[#D6E7F0] px-4 pb-4">
                  <table>
                    <tr class="max-sm:flex max-sm:flex-col">
                      <td class="w-[420px] max-sm:w-full">
                        <div class="flex justify-center">
                          <img
                            src="https://i.ibb.co/SP8Fpc5/hero.jpg"
                            alt="hero-image-couch"
                            class="w-[420px]"
                          />
                        </div>
                      </td>

                      <td class="bg-white align-top text-left px-5 py-5">
                        <p
                          class="text-[#FC7318] text-[22px] font-bold leading-tight pb-1"
                        >
                          PRODUCT NAME
                        </p>
                        <p class="font-bold text-sm pb-1">
                          I'm a new Text block ready for your content.
                        </p>
                        <p class="pb-2">
                          <span class="line-through">$99.00</span>
                          <span class="font-bold"> $70.00</span>
                        </p>

                        <a href=""
                          ><button
                            class="text-white bg-[#FC7318] px-5 py-[10px] rounded-[15px]"
                          >
                            VIEW ITEM
                          </button></a
                        >
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- Enjoy Extra Products -->

              <tr>
                <td class="pt-9 max-sm:pb-0">
                  <h2 class="text-[30px] font-bold px-4">
                    You may also
                    <span class="text-[#FC7318]">enjoy</span>
                  </h2>
                </td>
              </tr>

              <tr>
                <td class="pb-9">
                  <table>
                    <!-- 1st Row -->
                    <tr
                      class="max-sm:flex max-sm:flex-col max-sm:justify-center"
                    >
                      <td class="w-1/3 px-[10px] py-[5px] max-sm:w-full">
                        <div class="flex justify-center">
                          <img
                            class="w-48"
                            src="https://i.ibb.co/g9gkXx4/Speakers-H03-2k.png"
                            alt="speakers"
                          />
                        </div>
                        <p class="font-bold text-[#2190E3]">SPEAKERS</p>
                        <p class="text-sm text-[#555555] pb-[10px]">
                          Sed et justo molestie, <br />convallis ipsumac.
                        </p>
                        <p class="text-[#555555]">
                          <span class="line-through">$99.00</span>
                          <span class="font-bold"> $70.00</span>
                        </p>
                      </td>
                      <td class="w-1/3 px-[10px] py-[5px] max-sm:w-full">
                        <div class="flex justify-center">
                          <img
                            class="w-48"
                            src="https://i.ibb.co/4tPP8pJ/1.png"
                            alt="metal-cup"
                          />
                        </div>
                        <p class="font-bold text-[#2190E3]">METAL CUP</p>
                        <p class="text-sm text-[#555555] pb-[10px]">
                          Sed et justo molestie, <br />convallis ipsumac.
                        </p>
                        <p class="text-[#555555]">
                          <span class="line-through">$99.00</span>
                          <span class="font-bold"> $70.00</span>
                        </p>
                      </td>
                      <td class="w-1/3 px-[10px] py-[5px] max-sm:w-full">
                        <div class="flex justify-center">
                          <img
                            class="w-48"
                            src="https://i.ibb.co/G3Md19L/rob.png"
                            alt="rbbot"
                          />
                        </div>
                        <p class="font-bold text-[#2190E3]">ROBOT</p>
                        <p class="text-sm text-[#555555] pb-[10px]">
                          Sed et justo molestie, <br />convallis ipsumac.
                        </p>
                        <p class="text-[#555555]">
                          <span class="line-through">$99.00</span>
                          <span class="font-bold"> $70.00</span>
                        </p>
                      </td>
                    </tr>

                    <!-- 2nd Row -->
                    <tr
                      class="max-sm:flex max-sm:flex-col max-sm:justify-center"
                    >
                      <td class="w-1/3 px-[10px] py-[5px] max-sm:w-full">
                        <div class="flex justify-center">
                          <img
                            class="w-48"
                            src="https://i.ibb.co/bdV6nmN/fem.png"
                            alt="white-sweater"
                          />
                        </div>
                        <p class="font-bold text-[#2190E3]">WHITE SWEATER</p>
                        <p class="text-sm text-[#555555] pb-[10px]">
                          Sed et justo molestie, <br />convallis ipsumac.
                        </p>
                        <p class="text-[#555555]">
                          <span class="line-through">$99.00</span>
                          <span class="font-bold"> $70.00</span>
                        </p>
                      </td>
                      <td class="w-1/3 px-[10px] py-[5px] max-sm:w-full">
                        <div class="flex justify-center">
                          <img
                            class="w-48"
                            src="https://i.ibb.co/pWvxDVj/Computer.png"
                            alt="wireless-keyboard"
                          />
                        </div>
                        <p class="font-bold text-[#2190E3]">
                          WIRELESS KEYBOARD
                        </p>
                        <p class="text-sm text-[#555555] pb-[10px]">
                          Sed et justo molestie, <br />convallis ipsumac.
                        </p>
                        <p class="text-[#555555]">
                          <span class="line-through">$99.00</span>
                          <span class="font-bold"> $70.00</span>
                        </p>
                      </td>
                      <td class="w-1/3 px-[10px] py-[5px] max-sm:w-full">
                        <div class="flex justify-center">
                          <img
                            class="w-48"
                            src="https://i.ibb.co/HYrzTqR/Coffee.png"
                            alt="cup"
                          />
                        </div>
                        <p class="font-bold text-[#2190E3]">CUP</p>
                        <p class="text-sm text-[#555555] pb-[10px]">
                          Sed et justo molestie, <br />convallis ipsumac.
                        </p>
                        <p class="text-[#555555]">
                          <span class="line-through">$99.00</span>
                          <span class="font-bold"> $70.00</span>
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- Sales Collection Header -->
              <tr>
                <td class="py-6 bg-[#F0F0F0]">
                  <h2 class="text-[30px] font-bold px-4">
                    <span class="text-[#2190E3]">Sales</span> Collection
                  </h2>
                </td>
              </tr>

              <!-- Sales Content -->

              <!-- KC-Collection -->
              <tr>
                <td class="pb-6 bg-[#F0F0F0]">
                  <table>
                    <tr>
                      <td>
                        <div
                          class="border-[10px] border-b-0 border-[#F0F0F0] bg-white"
                        >
                          <img
                            src="https://i.ibb.co/BrQtp01/Kitchen.png"
                            alt="kitchen-collection-banner"
                          />
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td class="px-[10px] bg-[#F0F0F0]">
                        <table>
                          <tr class="max-sm:flex max-sm:flex-col">
                            <td class="text-left bg-white py-5">
                              <p class="text-[#e1bb23] font-bold">
                                COLLECTION NAME
                              </p>
                              <p class="text-sm">
                                I'm a new Text block ready for your content.
                              </p>
                            </td>
                            <td
                              class="flex justify-end items-end bg-[#F0F0F0] py-5 max-sm:justify-start"
                            >
                              <a href="">
                                <button
                                  class="px-5 py-2 bg-[#e1bb23] rounded-full font-bold text-white text-sm"
                                >
                                  VIEW COLLECTION
                                </button>
                              </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- GC-Collection -->
              <tr>
                <td class="pb-6 bg-[#F0F0F0]">
                  <table>
                    <tr>
                      <td>
                        <div
                          class="border-[10px] border-b-0 border-[#F0F0F0] bg-white"
                        >
                          <img
                            src="https://i.ibb.co/q9JY4Cv/Garden.png"
                            alt="garden-collection-banner"
                          />
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td class="px-[10px] bg-[#F0F0F0]">
                        <table>
                          <tr class="max-sm:flex max-sm:flex-col">
                            <td class="text-left bg-white py-5">
                              <p class="text-[#4eeb98] font-bold">
                                COLLECTION NAME
                              </p>
                              <p class="text-sm">
                                I'm a new Text block ready for your content.
                              </p>
                            </td>
                            <td
                              class="flex justify-end items-end bg-[#F0F0F0] py-5 max-sm:justify-start"
                            >
                              <a href="">
                                <button
                                  class="px-5 py-2 bg-[#4eeb98] rounded-full font-bold text-white text-sm"
                                >
                                  VIEW COLLECTION
                                </button>
                              </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- End of Season Sale -->
              <tr>
                <td class="py-8">
                  <table>
                    <tr>
                      <td class="flex justify-center">
                        <div class="px-[10px]">
                          <img
                            src="https://i.ibb.co/yqwgq5n/banner.jpg"
                            alt="end-of-season-sale"
                          />
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- Footer -->
              <tr>
                <td class="px-4">
                  <table>
                    <tr>
                      <td class="py-7">
                        <div class="flex justify-center space-x-[10px]">
                          <a href="http://"
                            ><img
                              src="https://i.ibb.co/dKwZbtK/facebook2x.png"
                              alt="facebook-icon"
                              class="w-8"
                          /></a>
                          <a href="http://"
                            ><img
                              src="https://i.ibb.co/xDqk6tr/twitter2x.png"
                              alt="twitter-icon"
                              class="w-8"
                          /></a>
                          <a href="http://"
                            ><img
                              src="https://i.ibb.co/S5C1vxz/instagram2x.png"
                              alt="instagram-icon"
                              class="w-8"
                          /></a>
                          <a href="http://"
                            ><img
                              src="https://i.ibb.co/s1SdfzD/pinterest2x.png"
                              alt="pinterest-icon"
                              class="w-8"
                          /></a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="text-sm leading-tight text-[#555555]">
                          NetShop - Lorem ipsum dolor sit amet hasellus sagittis
                          aliquam luctus. <br />329 California St, San
                          Francisco, CA 94118
                        </p>
                      </td>
                    </tr>

                    <!-- Dotted Line -->
                    <tr>
                      <td class="py-4">
                        <hr
                          class="mx-32 border-t-[1px] border-dotted border-gray-500"
                        />
                      </td>
                    </tr>

                    <tr>
                      <td class="pb-7">
                        <p class="text-sm">
                          <a class="font-bold visited:text-[#2190E3]" href=""
                            >Help&FAQ's</a
                          >&nbsp;|
                          <a class="font-bold visited:text-[#2190E3]" href=""
                            >Returns</a
                          >&nbsp;| 1-234-567-8910
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <tr>
                <td class="py-4 bg-gray-300 px-3">
                  <p>Coded by Jayden Ricot</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</x-main>

<!-- Hero Section -->
<!-- <tr>
  <td class="bg-[#D6E7F0] px-4 pb-4 pt-6">
    <table>
      <tr>
        <td class="w-[420px]">
          <img src="images/hero.jpg" alt="hero-image" class="max-w-[420px]" />
        </td>
      </tr>
    </table>
  </td>
</tr> -->
